<ion-card>
  <ion-card-header>
    Ajouter un rapport
    <ion-icon name="md-close" (click)="dismiss()"></ion-icon>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <form [formGroup]="ratioForm">
        <ion-item>
          <ion-label>Type de rapport</ion-label>
          <ion-select formControlName="type">
            <ion-option value="1re">1re</ion-option>
            <ion-option value="2e">2e</ion-option>
            <ion-option value="Std">Std</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="r1">
          <ion-label>Rapport</ion-label>
          <ion-input type="number" formControlName="a" name="a" placeholder="M"></ion-input>
        </ion-item>
        <ion-item class="r2">
          <ion-label>/</ion-label>
          <ion-input type="number" formControlName="b" name="b" placeholder="m"></ion-input>
        </ion-item>
        <button [disabled]="!ratioForm.valid" color="danger" (click)="onSave(ratioForm.value)" ion-button block>{{button}}</button>
      </form>
    </ion-list>
  </ion-card-content>
</ion-card>
