page-car {
  text-align: center;
  .bg1 {
    width: 50%;
    float: left;
    padding-top: 1px;
  }
  .bg2 {
    width: 50%;
    float: right;
  }
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom: none !important;
    box-shadow: none!important;
  }
  form>.item-input .label {
    width: 40%;
    font-size: smaller;
  }
  #lbl-4 {
    margin: 0;
    position: relative;
    top: 13px;
  }
  .list-md .item-input:last-child {
    border-bottom: 1px solid transparent;
  }
  .md-range {
    padding: 5px 5px;
  }
  .range-md .range-tick-active {
    background-color: #8e2323;
  }
  .range-md .range-tick {
    background-color: #bdbdbd;
  }
}