<ion-header>
  <ion-navbar>
    <ion-title>
      Boîte de Vitesse
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="presentPopover($event)">
         <ion-icon name="more"></ion-icon>
     </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="gearForm"  novalidate *ngIf="car">
      <ion-item>
        <ion-label>Voiture</ion-label>
        <ion-input [disabled]="true" type="text" value="{{car.brand}} - {{car.type}}" name="car"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Marque</ion-label>
        <ion-input type="text" name="brand" formControlName="brand"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>N° Série</ion-label>
        <ion-input type="text" name="serial" formControlName="serial"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Type de boîte</ion-label>
        <ion-select name="type" formControlName="type">
          <ion-option *ngFor="let type of types" [value]="type">{{type}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button block [disabled]="!gearForm.valid" (click)="ratios();" color="danger" icon-left>
         <ion-icon name="arrow-dropup" ></ion-icon>
          Rapports de boîte
        </button>
    </form>
  </ion-list>
</ion-content>
