// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-menu {
  .item {
    background-color: color($background, nav);
    border-radius: 5%;
    color: color($text,content);
  }
  .bar-button {
    font-size: 140%;
  }
  h3 {
    color: white;
    font-size: 100%;
    padding: 8px 8px 0px 0px;
  }
}

.toolbar-background {
  background-color: color($colors, danger);
}

.tabbar {
  background-color: color($background, nav)!important;
}

.col {
  position: initial !important;
}

.content {
  background-color: color($background, content);
  form .label,
  .item-select .label-md,
  .item-input .label-md {
    color: color($text, content);
  }
}

.card {
  border-radius: 5px;
  background-color: color($background, card);
  form .label,
  .item-select .label-md,
  .item-input .label-md {
    color: color($text, content);
  }
  ion-card-header {
    font-weight: bold;
    color: white;
  }
}

form .item {
  background-color: transparent;
}

form .ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: color($background, card)!important;
  box-shadow: none!important;
}

.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: color($background, card)!important;
  box-shadow: none!important;
}

form .item-md.item-input.input-has-focus .text-input {
  border: medium solid color($colors, primary);
  box-shadow: inset 0 -1px 0 0 color($colors, primary);
  ;
}

form .ng-valid.input-has-value:not(.input-has-focus) .text-input {
  border: medium solid color($colors, secondary);
  box-shadow: inset 0 -1px 0 0 color($colors, secondary);
  ;
}

form .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: color($background, card)!important;
  box-shadow: none!important;
}

form .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .text-input {
  border: medium solid color($colors, danger);
  box-shadow: inset 0 -1px 0 0 color($colors, danger);
}

.select-text,
.toolbar-title {
  color: white;
}

.text-input {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid color($text,content);
}


.bar-button-default-md,
.bar-button-default-ios {
  color: white;
}
