// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background-color: #931916;
}

.content{
    background-color:#1A1A1A;
}
.toolbar-title{
    color:white;
}
.tab-button[aria-selected=true] {
    color:white;
    background-color: #931916;
}
.tab-button[aria-selected=false] {
    color:white;
    background-color: #C3A779;
}


.tab-button[aria-selected=true] .tab-button-icon,
.tab-button[aria-selected=true] .tab-button-text{
    color:white!important;
}
.bar-button-default-md{
    color:white;
}

