<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Abaque
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="presentPopover($event)">
         <ion-icon name="more"></ion-icon>
     </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card style="display:block">
    <ion-card-header>
      Abaque
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card style="display:block">
    <ion-card-header>
      Données
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row style="border-top:1px solid rgba(255,255,255,0.5)">
          <ion-col *ngFor="let speed of calcul.max_speed">
            {{calcul.max_speed.indexOf(speed) +1}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Vmax (km/h)</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let speed of calcul.max_speed">
            {{speed}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Ecart (km/h)</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col *ngFor="let gap of calcul.gap">
            {{gap}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Chutes de Régime (tr/min)</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col *ngFor="let drop of calcul.power_drop">
            {{drop}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
