<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="tire()">
        <ion-icon name="md-disc"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Abaque
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card style="display:block">
    <ion-card-header>
      Abaque
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card style="display:block">
    <ion-card-header>
      Données
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row style="border-top:1px solid black;">
          <ion-col>
            <h3>Vmax (km/h)</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let speed of calcul.max_speed">
            {{(speed).toFixed(1)}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Chutes de Régime (tr/min)</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let drop of calcul.power_drop">
            {{(drop).toFixed(1)}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
