<ion-header>
  <ion-navbar>
    <ion-title>
      Abaque
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="tire()">
        <span ion-text color="primary" showWhen="ios">Tire</span>
        <ion-icon name="md-disc" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card style="display:block"  >
    <ion-card-header>
      Abaque
    </ion-card-header>
       <ion-card-content>
          <canvas #barCanvas></canvas>
      </ion-card-content>
  </ion-card>
    <ion-card style="display:block">
    <ion-card-header>
        Données
    </ion-card-header>
       <ion-card-content>
         <ion-grid>
           <ion-row>
             <ion-col>
                  Vmax (km/h)
             </ion-col>
           </ion-row>
           <ion-row>
             <ion-col *ngFor="let speed of calcul.getMaxSpeed()" >
                {{(speed).toFixed(2)}}
             </ion-col>
           </ion-row>
                   <ion-row>
             <ion-col>
            Chutes de Régimes (tr/min)
             </ion-col>
           </ion-row>
           <ion-row>
             <ion-col *ngFor="let drop of calcul.getPowerDrop()" >
                {{(drop).toFixed(2)}}
             </ion-col>
           </ion-row>
         </ion-grid>
      </ion-card-content>
  </ion-card>

</ion-content>
