.ios,
.md {
  page-abacus {

    h3{
      color:ghostwhite;
    }
    ion-col {
      border-right: 1px solid color($text,disabled);
      overflow: overlay;
    }
    ion-row {
      border-bottom: 1px solid color($text,disabled);
      border-left:1px solid color($text,disabled);
      color: color($text,content);
    }

    

  }
}

